
<div class="profiles-container">

<%= form_with model: @profile do |form| %>
    <% if current_user.profile.avatar.attached?%>
        <img class="avatar" src="<%=(url_for(current_user.profile.avatar))%>">
    <%else%>
        <img class="avatar" src="/assets/defaultprofile">
    <%end%>
    <%= form.file_field :avatar%>
    <%= form.text_area :description %>
    <%= form.submit "Update profile" %>
<% end %>
</div>