

<div class="tweets-container">

    <header class="tweet-hdr">
        <%=link_to request.referrer do%>
            <div class="back-btn"><svg viewBox="0 0 24 24" aria-hidden="true" class="r-13gxpu9 r-4qtqp9 r-yyyyoo r-18yzcnr r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-yc9v9c"><g><path d="M20 11H7.414l4.293-4.293c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0l-6 6c-.39.39-.39 1.023 0 1.414l6 6c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L7.414 13H20c.553 0 1-.447 1-1s-.447-1-1-1z"></path></g></svg></div>
        <%end%>
        <div class="heading-container">
            <h1 class="tweet-h1">Tweet</h1>
        </div>
    </header>



    <%=render 'shared/tweet', tweet: @tweet%>

    <%tweet = Tweet.new%>
    <div class="reply-tweet-form">
        <div class="profile-pic"><img alt="ruhroh" src="/assets/defaultprofile.png"></div>

        <%=form_with model: tweet do |form|%>
            <%=form.text_area :body, placeholder: "Tweet your reply"%>
            <%=form.hidden_field :parent_id, value: @tweet.id%>
            <%=form.submit "Tweet", class: "tweet-btn"%>
        <%end%>
    </div>
    
    <div class="hdr-border">

    </div>

    <%unless @children.empty?%>
        <%@children.each do |child|%>
            <%=render 'shared/tweet', tweet: child %>
        <%end%>
    <%else%>
        <p class="no-replies-tag">No replies yet. Be the first.</p>
    <%end%>
</div>