<div class="new-tweet-form">
    <div class="profile-pic">    
    <% if tweet.author.profile.avatar.attached?%>
        <img class="avatar no-filter" src="<%=(url_for(current_user.profile.avatar))%>" alt="ruh roh">
    <%else%>
        <img class="avatar filter" src="/assets/defaultprofile" alt="ruh roh">
    <%end%></div></div>

    <%=form_with model: tweet do |form|%>
        <%=form.text_area :body, placeholder: "Whats happening?"%>
        <%=form.hidden_field :parent_id, value: params[:tweet] == nil ?  nil : params[:tweet][:parent_id]%>
        <%=form.submit "Tweet", class: "tweet-btn"%>
    <%end%>
</div>
